.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: job_type, local: true) do |form|
      - if job_type.errors.any?
        #error_explanation
          %h2
            = pluralize(job_type.errors.count, "error")
            prohibited this job_type from being saved:
          %ul
            - job_type.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :job_type_name, :class => "form-control"
        %label{:for => "exampleInputEmail1"} Номер
        = form.text_field :number, id: :job_type_number, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
