.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование типа работ
        %span.tools.pull-right
          = link_to 'Назад', job_types_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', job_type: @job_type
