.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Типы работ
        %span.tools.pull-right
          = link_to 'Создать', new_job_type_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th ID
              %th Название
              %th №
          %tbody
          - @job_types.each do |job_type|
            %tr
              %td= job_type.id
              %td= job_type.name
              %td= job_type.number
              %td
                = link_to 'Подробнее', job_type, :class => "btn btn-info btn-xs"
