.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', job_types_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @job_type.name
      .panel-body
        %br
        %table.table
          %tr
            %td №
            %td=@job_type.number


        %br
        = button_to 'Изменить',edit_job_type_path(@job_type) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @job_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
