.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: job_link, local: true) do |form|
      - if job_link.errors.any?
        #error_explanation
          %h2
            = pluralize(job_link.errors.count, "error")
            prohibited this job_link from being saved:
          %ul
            - job_link.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :job_id, id: :job_link_job_id, :class => "form-control"
        %label{:for => "exampleInputEmail1"} Рабочий Id
        = form.text_field :jobable_id, id: :job_link_jobable_id, :class => "form-control"
        %label{:for => "exampleInputEmail1"} Рабочий тип
        = form.text_field :jobable_type, id: :job_link_jobable_type, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
