.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Работа Линкс
        %span.tools.pull-right
          = link_to 'Создать', new_job_link_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Работа ID

          %tbody
          - @job_links.each do |job_link|
            %tr
              %td= job_link.id
              %td= job_link.job_id
    
              %td
                = link_to 'Подробнее', job_link, :class => "btn btn-info btn-xs"
