.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Создание рабочей линки
        %span.tools.pull-right
          = link_to 'Назад', job_links_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form',  job_link: @job_link
