.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', job_links_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @job_link.job_id
      .panel-body
        %br
        %table.table
          %tr
            %td Рабочий ID
            %td=  @job_link.jobable_id
          %tr
            %td Рабочий Тип                                                                              
            %td=  @job_link.jobable_type
        %br
        = button_to 'Изменить',edit_job_link_path(@job_link) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @job_link, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
