.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование оборудования
        %span.tools.pull-right
          = link_to 'Назад', @appliance , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', appliance: @appliance
