.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Оборудование
        %span.tools.pull-right
          = link_to 'Создать', new_appliance_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @appliances.each do |appliance|
            %tr
              %td= appliance.id
              %td= appliance.name
              %td
                = link_to 'Подробнее', appliance , :class => "btn btn-info btn-xs"
