.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', appliances_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @appliance.name
      .panel-body
        %br
        %table.table

        %br
        =  button_to 'Изменить', edit_appliance_path(@appliance) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @appliance, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
