.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: inventory, local: true) do |form|
      - if inventory.errors.any?
        #error_explanation
          %h2
            = pluralize(inventory.errors.count, "error")
            prohibited this inventory from being saved:
          %ul
            - inventory.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :inventory_name, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
