.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование инвентаря
        %span.tools.pull-right
          = link_to 'Назад', inventories_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', inventory: @inventory
