.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Инвентарь
        %span.tools.pull-right
          = link_to 'Создать', new_inventory_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @inventories.each do |inventory|
            %tr
              %td= inventory.id
              %td= inventory.name
              %td
                = link_to 'Подробнее', inventory, :class => "btn btn-info btn-xs"
