%h2 Resend unlock instructions
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .actions
    = f.submit "Resend unlock instructions" , :class => "btn btn-primary btn-block"
= render "staffs/shared/links"
