%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    %title Войти
    = stylesheet_link_tag :'bootkit/bootkit'
    - if @additional_css
      - @additional_css.each do |a|
        = stylesheet_link_tag a
    = javascript_include_tag :'bootkit/modernizr-custom'
  %body
    .sign-in-wrapper
      .sign-container
        .text-center
          %h2 Войти в профиль
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :email ,:class => "form-group"
              %br/
              = f.email_field :email, autofocus: true
            .field
              = f.label :password , "Пароль" ,:class => "form-group"
              %br/
              = f.password_field :password, autocomplete: "off"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me , "Запомнить меня"
            .actions
              = f.submit "Войти" , :class => "btn btn-primary btn-block"
          = render "staffs/shared/links"
