@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootkit/main";


.header-button {
  color:white !important;
  margin-right:10px;
}

.btn-block {
  margin-top:10px;
}