@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootkit/main";
@import 'fullcalendar';


.header-button {
  color:white !important;
  margin-right:10px;
}

.btn-block {
  margin-top:10px;
}
td.qr_code{
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
}
