.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: vacation, local: true) do |form|
      - if vacation.errors.any?
        #error_explanation
          %h2
            = pluralize(vacation.errors.count, "error")
            prohibited this vacation from being saved:
          %ul
            - vacation.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Cотрудник
        = form.select :worker_id, Worker.all.map{|a| [a.name,a.id]} , :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Начало отпуска
        = form.text_field :begin_at , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"
      .form-group
        %label{:for => "exampleInputEmail1"} Конец отпуска
        = form.text_field :finish_at , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"


      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
