.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование отпуска
        %span.tools.pull-right
          = link_to 'Назад', vacations_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', vacation: @vacation
