.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Отпуска
        %span.tools.pull-right
          = link_to 'Создать', new_vacation_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th Отпуск №
              %th Сотрудник
          %tbody
          - @vacations.each do |vacation|
            %tr
              %td= vacation.id
              %td= vacation.worker.name
              %td
                = link_to 'Подробнее', vacation, :class => "btn btn-info btn-xs"
