.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', vacations_path , :class => "btn btn-danger btn-xs header-button"
        %h3 Отпуск
      .panel-body
        %br
        %table.table
          %tr
            %td Сотрудник
            %td=@vacation.worker.name
          %tr
            %td Начало отпуска
            %td=@vacation.try(:begin_at).try(:strftime, "%d/%m/%Y")
          %tr
            %td Конец отпуска
            %td=@vacation.try(:finish_at).try(:strftime, "%d/%m/%Y")
        %br
        = button_to 'Изменить',edit_vacation_path(@vacation) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @vacation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
