.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: work_time_limit, local: true) do |form|
      - if work_time_limit.errors.any?
        #error_explanation
          %h2
            = pluralize(work_time_limit.errors.count, "error")
            prohibited this work_time_limit from being saved:
          %ul
            - work_time_limit.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Норма часов 
        = form.text_field :hours, id: :work_time_limit_hours, :class => "form-control"



      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
