.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Нормы часов в неделю
        %span.tools.pull-right
          = link_to 'Создать', new_work_time_limit_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Норма часов в неделю
          %tbody
          - @work_time_limits.each do |work_time_limit|
            %tr
              %td= work_time_limit.id
              %td= work_time_limit.hours
              %td
                = link_to 'Подробнее', work_time_limit, :class => "btn btn-info btn-xs"
