.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Создание нормы часов в неделю
        %span.tools.pull-right
          = link_to 'Назад', work_time_limits_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', work_time_limit: @work_time_limit
