.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', work_time_limits_path , :class => "btn btn-danger btn-xs header-button"
        %h3= "Норма часов в неделю : #{@work_time_limit.hours}"
      .panel-body
        %br
        %table.table


        %br
        = button_to 'Изменить',edit_work_time_limit_path(@work_time_limit) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @work_time_limit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
