.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: @task, local: true) do |form|
      - if @task.errors.any?
        #error_explanation
          %h2
            = pluralize(@task.errors.count, "error")
            prohibited this task from being saved:
          %ul
            - @task.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputName"} Наименование наряда
        = form.text_field :name , :class => "form-control"
      .form-group
        %label{:for => "exampleInputNumber"} № Наряда
        = form.text_field :number , :class => "form-control"
      .form-group
        %label{:for => "exampleInputNumber"}  Стоимость
        = form.text_field :cost , :class => "form-control"
      .form-group
        %label{:for => "exampleselectWorker"} Сотрудник
        = form.select :worker_id ,Worker.all.map{|a| [a.name , a.id]},{ include_blank: true } , {:class => "form-control"}
      .form-group
        %label{:for => "exampleselectFacility"}  Объект
        = form.select :facility_id , Facility.all.map{|a| [a.name , a.id]} , :class => "form-control"
      .form-group
        %label{:for => "exampleselectJob"}  Вид работы
        = form.select :job_id , Job.all.map{|a| [a.name , a.id]} , :class => "form-control"
      .form-group
        %label{:for => "exampleInputScopeOfWork"} Объем работ
        = form.text_field :scope_of_work , :class => "form-control"
      .form-group
        %label{:for => "Datetime begin_at"} Время начала работы
        = form.text_field :begin_at_date , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"
      .form-group
        .input-group.bootstrap-timepicker.timepicker
          = form.text_field :begin_at_time , :class => "input form-control", :id => "timepicker1"
          -# %input#timepicker1.form-control{:type => "text", :name => "begin_at_time_str"}/
          %span.input-group-addon
            %i.glyphicon.glyphicon-time.fa.fa-clock-o
      .form-group
        %label{:for => "Datetime finish_at"} Время конца работы
        = form.text_field :finish_at_date , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"
      .form-group
        .input-group.bootstrap-timepicker.timepicker
          = form.text_field :finish_at_time , :class => "input form-control", :id => "timepicker2"
          -# %input#timepicker2.form-control{:type => "text", :name => "finish_at_time_str"}/
          %span.input-group-addon
            %i.glyphicon.glyphicon-time.fa.fa-clock-o
      .form-group
        %tr Учет ночных часов
        = form.check_box(:night_hours,{:multiple => true},1,nil)
      .form-group
        %label{:for => "exampleInputNumber"} Сложность
        = form.select :complexity ,Task::COMPLEXITY.map{|a| [a]}, :class => "form-control"
      %table{ :cellpadding => "2", :width => "100%"}
        %tr
          %th По кнопке
          %th
          %th Автоматически
        %tr
          %th Начать\Закончить
          %th= form.check_box(:control,{:multiple => true},"start_finish",nil)
          %th По плановому времени наряда
          %th= form.check_box(:control,{:multiple => true},"plan",nil)
        %tr
          %th QR-код
          %th= form.check_box(:control,{:multiple => true},"qr_code",nil)
          %th Открытие наряда после завершения предыдущего
          %th= form.check_box(:control,{:multiple => true},"after_last",nil)
        %tr
          %th Фото лица
          %th= form.check_box(:control,{:multiple => true},"selfie",nil)
        %tr
          %th Фото помещения до
          %th= form.check_box(:control,{:multiple => true},"room_before",nil)
        %tr
          %th Фото помещения после
          %th= form.check_box(:control,{:multiple => true},"room_after",nil)
        %tr
          %th Отчет работника
          %th= form.check_box(:control,{:multiple => true},"worker_report",nil)
        %tr
          %th Отчет аудитора
          %th= form.check_box(:control,{:multiple => true},"auditor_report",nil)
      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
