.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование наряда
        %span.tools.pull-right
          = link_to 'Назад', tasks_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', task: @task
