.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Наряды
        %span.tools.pull-right
          = link_to 'Создать', new_task_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Тип работы
          %tbody
          - @tasks.each do |task|
            %tr
              %td= task.id
              %td= task.name
              %td
                = link_to 'Подробнее', task, :class => "btn btn-info btn-xs"
