.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', tasks_path , :class => "btn btn-danger btn-xs header-button"
        %h3=@task.name
      .panel-body
        %br
        %table.table
          %tr
            %td Номер наряда
            %td=@task.number
          %tr
            %td Сотрудник
            %td=@task.try(:worker).try(:name)
          %tr
            %td Объект
            %td=@task.facility.name
          %tr
            %td Вид работы
            %td=@task.job.name
          %tr
            %td Объем работы
            %td=@task.scope_of_work
          %tr
            %td Начала работы
            %td=@task.try(:begin_at).try(:strftime, "%d/%m/%Y в %H:%M")
          %tr
            %td Конец работы
            %td=@task.try(:finish_at).try(:strftime, "%d/%m/%Y в %H:%M")
          -# %tr
          -#   %td Общее время работы
          -#   %td=@total_time
          %tr
            %td Сложность
            %td=@task.complexity
          %tr
            %td Стоимость
            %td=@task.cost
          %tr
            %td Контроль исполнения
            %td=@task.perform_conditions


        %br
        = button_to 'Изменить',edit_task_path(@task) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
