<%= form_with(model: media_asset, local: true) do |form| %>
  <% if media_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media_asset.errors.count, "error") %> prohibited this media_asset from being saved:</h2>

      <ul>
      <% media_asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :media_asset_url %>
  </div>

  <div class="field">
    <%= form.label :mediaable_id %>
    <%= form.number_field :mediaable_id, id: :media_asset_mediaable_id %>
  </div>

  <div class="field">
    <%= form.label :mediaable_type %>
    <%= form.text_field :mediaable_type, id: :media_asset_mediaable_type %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind, id: :media_asset_kind %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
