
<h1>Media Assets</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Mediaable</th>
      <th>Mediaable type</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_assets.each do |media_asset| %>
      <tr>
        <td><%= media_asset.url %></td>
        <td><%= media_asset.mediaable_id %></td>
        <td><%= media_asset.mediaable_type %></td>
        <td><%= media_asset.kind %></td>
        <td><%= link_to 'Show', media_asset %></td>
        <td><%= link_to 'Edit', edit_media_asset_path(media_asset) %></td>
        <td><%= link_to 'Destroy', media_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media Asset', new_media_asset_path %>
