
<p>
  <strong>Url:</strong>
  <%= @media_asset.url %>
</p>

<p>
  <strong>Mediaable:</strong>
  <%= @media_asset.mediaable_id %>
</p>

<p>
  <strong>Mediaable type:</strong>
  <%= @media_asset.mediaable_type %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @media_asset.kind %>
</p>

<%= link_to 'Edit', edit_media_asset_path(@media_asset) %> |
<%= link_to 'Back', media_assets_path %>
