= form_with(model: task_perform, local: true) do |form|
  - if task_perform.errors.any?
    #error_explanation
      %h2
        = pluralize(task_perform.errors.count, "error")
        prohibited this task_perform from being saved:
      %ul
        - task_perform.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :task_id
    = form.number_field :task_id, id: :task_perform_task_id
  .field
    = form.label :begin_at
    = form.datetime_select :begin_at, id: :task_perform_begin_at
  .field
    = form.label :finish_at
    = form.datetime_select :finish_at, id: :task_perform_finish_at
  .field
    = form.label :worker_report
    = form.text_area :worker_report, id: :task_perform_worker_report
  .field
    = form.label :auditor_report
    = form.text_area :auditor_report, id: :task_perform_auditor_report
  .field
    = form.label :auditor_id
    = form.number_field :auditor_id, id: :task_perform_auditor_id
  .actions
    = form.submit
