%h1 Editing Task Perform
= render 'form', task_perform: @task_perform
= link_to 'Show', @task_perform , :class => "btn btn-success btn-xs"
|
= link_to 'Back', task_performs_path , :class => "btn btn-danger btn-xs"
