.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Задания - performs
        %span.tools.pull-right
          %a.refresh-box.fa.fa-repeat{:href => "javascript:;"}
          %a.collapse-box.fa.fa-chevron-down{:href => "javascript:;"}
          %a.close-box.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  ID
              %th Task
              %th Begin at
              %th Finish at
              %th Worker report
              %th Auditor report
              %th Auditor
          %tbody
            - @task_performs.each do |task_perform|
              %tr
                %td= task_perform.task_id
                %td= task_perform.begin_at
                %td= task_perform.finish_at
                %td= task_perform.worker_report
                %td= task_perform.auditor_report
                %td= task_perform.auditor_id
                %td
                  = link_to 'Show', task_perform , :class => "btn btn-info btn-xs"
                  = link_to 'Edit', edit_task_perform_path(task_perform), :class => "btn btn-success  btn-xs"
                  = link_to 'Destroy', task_perform, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"


= link_to 'New Profession', new_task_perform_path , :class => "btn btn-primary btn-xs"
