%p
  %strong Task:
  = @task_perform.task_id
%p
  %strong Begin at:
  = @task_perform.begin_at
%p
  %strong Finish at:
  = @task_perform.finish_at
%p
  %strong Worker report:
  = @task_perform.worker_report
%p
  %strong Auditor report:
  = @task_perform.auditor_report
%p
  %strong Auditor:
  = @task_perform.auditor_id
= link_to 'Edit', edit_task_perform_path(@task_perform) , :class => "btn btn-success btn-xs"
|
= link_to 'Back', task_performs_path , :class => "btn btn-danger btn-xs"
