!!!
%html
  %body
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    %title Bootkit
    / inject:css
    %link{:href => "bower_components/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "bower_components/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    / endinject
    / Main Style
    %link{:href => "dist/css/main.css", :rel => "stylesheet"}/
    %script{:src => "assets/js/modernizr-custom.js"}
    .sign-in-wrapper
      .sign-container
        .text-center
          %h2 Сброс пароля
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            .field
              = f.label :password, "Новый пароль"
              %br/
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
                %br/
              = f.password_field :password, autofocus: true, autocomplete: "off"
            .field
              = f.label :password_confirmation, "Подтвердите новый пароль"
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .actions
              = f.submit "Изменить пароль"
          = render "staffs/shared/links"
