!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    %title
    = stylesheet_link_tag :'bootkit/bootkit'
    - if @additional_css
      - @additional_css.each do |a|
        = stylesheet_link_tag a
    = javascript_include_tag :'bootkit/modernizr-custom'
    .sign-in-wrapper
      .sign-container
        .text-center
          %h2 Хотите сбросить пароль?
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .field
              = f.label :email , "Введите ваш email"
              %br/
              = f.email_field :email, autofocus: true
            .actions
              = f.submit "Cбросить пароль" , :class => "btn btn-primary btn-block"
          = render "staffs/shared/links"
