.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: job, local: true) do |form|
      - if job.errors.any?
        #error_explanation
          %h2
            = pluralize(job.errors.count, "error")
            prohibited this job from being saved:
          %ul
            - job.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputName"} Наименование работы
        = form.text_field :name , :class => "form-control"
      .form-group
        %label{:for => "exampleInputNumber"} № работы
        = form.text_field :number , :class => "form-control"
      .form-group
        %label{:for => "exampleInputUnits"} Еденица измерения
        = form.text_field :units,  :class => "form-control"
      .form-group
        %label{:for => "exampleselectWorkTime"} Рабочее время
        = form.select :work_time , Job::WORK_TIME.map{|a| [a]} , :class => "form-control"
      .form-group
        %label{:for => "exampleDesc"} Описание
        = form.text_area :desc, id: :job_desc , :class => "form-control"


      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
