.field
  %p Инвентарь
  = form_for JobLink.new( :job_id => resource.id , :jobable_type => "Inventory") do |f|
    = f.hidden_field :job_id
    = f.select :jobable_id, Inventory.all.map{|a| [a.name,a.id]}
    = f.hidden_field :jobable_type
    = f.submit
  %table
    - resource.job_links.where(:jobable_type => "Inventory").each do |f|
      %tr
        %td
          = link_to f.jobable.name , f , :style => "color:grey"
        %td{:style => "padding-left:20px"}
          = link_to "Удалить", job_link_path(f), method: :delete , :class => "btn btn-danger btn-xs"
