.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Работа
        %span.tools.pull-right
          = link_to 'Создать', new_job_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Тип работы
          %tbody
          - @jobs.each do |job|
            %tr
              %td= job.id
              %td= job.name
              %td
                = link_to 'Подробнее', job, :class => "btn btn-info btn-xs"
