.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Создание работы
        %span.tools.pull-right
          = link_to 'Назад', jobs_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', job: @job
