.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', jobs_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @job.name
      .panel-body
        %br
        %table.table
          %tr
            %td Номер вида работ
            %td=@job.number
          %tr
            %td Единицы времени работы
            %td=@job.units
          %tr
            %td Рабочее время
            %td=@job.work_time
          %tr
            %td Описание
            %td=@job.desc

        %br
        = button_to 'Изменить',edit_job_path(@job) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @job, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
  .col-sm-6
    %section.panel
      %header.panel-heading
      .panel-body
        =render :partial => "inventory", :locals => {:resource => @job}
  .col-sm-6
    %section.panel
      %header.panel-heading
      .panel-body
        =render :partial => "appliance", :locals => {:resource => @job}
  .col-sm-6
    %section.panel
      %header.panel-heading
      .panel-body
        =render :partial => "consumable", :locals => {:resource => @job}
