.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: notification, local: true) do |form|
      - if notification.errors.any?
        #error_explanation
          %h2
            = pluralize(notification.errors.count, "error")
            prohibited this inventory from being saved:
          %ul
            - notification.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Тип
        = form.select :kind, ["Общее", "Персональное"].map{|a| a},{},:id => "notification_kind"
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :title, id: :notification_title, :class => "form-control"
      .form-group
        %label{:for => "exampleDesc"} Описание
        = form.text_area :body, id: :notification_body , :class => "form-control"
      .form-group#notification_user
        %label{:for => "exampleDesc"} Сотрудник
        = form.select :notificable ,Worker.all.map{|a| [a.name , a.id]},{ include_blank: true }
      .form-group#notification_user
        %label{:for => "exampleDesc"} Наряды
        = form.select :task_id ,Task.all.map{|a| [a.name , a.id]}
      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
