.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование уведомления
        %span.tools.pull-right
          = link_to 'Назад', notifications_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', notification: @notification
