.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Уведомления
        %span.tools.pull-right
          = link_to 'Создать', new_notification_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @notifications.each do |notification|
            %tr
              %td= notification.id
              %td= notification.title
              %td
                = link_to 'Подробнее', notification, :class => "btn btn-info btn-xs"
