.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', notifications_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @notification.title
      .panel-body
        %br
        %table.table
          %tr
            %td ID
            %td=@notification.id
          %tr
            %td Название
            %td=@notification.title
          %tr
            %td Описание
            %td=@notification.body
          %tr
            %td Работник
            %td=@notification.try(:notificable).try(:name)
          %tr
            %td Отправлено
            %td=@notification.try(:created_at).try(:strftime, "%d/%m/%Y в %H:%M")

        %br
        = button_to 'Изменить',edit_notification_path(@notification) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
