%ol.dd-list
  - sections.each do |f|
    %li.dd-item{"data-id" => "#{f.id}"}
      .dd-handle= f.name
      = render :partial => 'divisions/childrens', :locals => {:sections => f.divisions, :show_controls => show_controls || "false"} if f.divisions.size > 0
