.panel-body
  #nestable_list_1.dd{:style => "width:100%"}
    %ol.dd-list
      - Division.where(:parent_id => @company.id).each do |f|
        %li.dd-item{"data-id" => f.id}
          .dd-handle= f.name
          =render :partial => 'divisions/childrens', :locals => {:sections => f.divisions, :show_controls => "true"}
  -# = form_tag  division_update_tree_path(@type), :id => "tree_data_form" do
  -#   = hidden_field_tag :tree_data
