.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_for @division do |f|
      - if division.errors.any?
        #error_explanation
          %h2
            = pluralize(division.errors.count, "error")
            prohibited this division from being saved:
          %ul
            - division.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = f.text_field :name, id: :division_name, :class => "form-control"
        = f.hidden_field :parent_type ,:value => params[:parent_type]
        = f.hidden_field :parent_id ,:value => params[:parent_id]
      %br
      = f.submit "Сохранить", :class => "btn btn-primary"
