.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование подразделения
        %span.tools.pull-right
          = link_to 'Назад', divisions_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', division: @division
