.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Подразделения
        %span.tools.pull-right
          = link_to 'Создать', new_division_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @divisions.each do |division|
            %tr
              %td= division.id
              %td= division.name
              %td
                = link_to 'Подробнее', division, :class => "btn btn-info btn-xs"
