.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', divisions_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @division.name
      .panel-body
        %br
        %table.table
          %tr
            %th Родительский ID
            %th= @division.parent_id
          %tr
            %td Родительский Tип
            %td= @division.parent_type
        %br
        = button_to 'Изменить',edit_division_path(@division) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @division, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
