%header#header.ui-header.ui-header--purple.text-white
  .navbar-header
    / logo start
    %a.navbar-brand{:href => root_path}
      %span.logo
        ProTime
      %span.logo-compact
        PT
    / logo end
  .search-dropdown.dropdown.pull-right.visible-xs
    %button.btn.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.fa.fa-search
    .dropdown-menu
      %form{:action => ""}
        %input.form-control{:placeholder => "Search here...", :type => "text"}/
  .navbar-collapse.nav-responsive-disabled
    / toggle buttons start
    %ul.nav.navbar-nav
      %li
        %a.toggle-btn{"data-toggle" => "ui-nav", :href => ""}
          %i.fa.fa-bars
    / toggle buttons end
    / search start
    %form.search-content.hidden-xs{:action => ""}
      -# %button.btn.srch-btn{:name => "search", :type => "submit"}
        %i.fa.fa-search
      -# %input.form-control{:name => "keyword", :placeholder => "Search here...", :type => "text"}/
    / search end
    / notifications start
    = render :partial => "layouts/bootkit/notifications"
    / notifications end
