%aside#aside.ui-aside
  %ul.nav#menu{"ui-nav" => ""}
    %li{class: "#{fetch_li_status(:site)}"}
      %a{:href => "/"}
        %i.fa.fa-home
        %span Главная

    %li{class: "#{fetch_li_status(:workers)}"}
      %a{:href => workers_path}
        %i.fa.fa-object-group
        %span Сотрудники
    %li{class: "#{fetch_li_status(:notifications)}"}
      %a{:href => notifications_path}
        %i.fa.fa-object-group
        %span Уведомления

    %li{class: "#{fetch_li_status(:professions)}"}
      %a{:href => professions_path}
        %i.fa.fa-envelope-o
        %span Профессии

    %li{class: "#{fetch_li_status(:contract_types)}"}
      %a{:href => contract_types_path}
        %i.fa.fa-file-text-o
        %span
          Типы контрактов

    %li{class: "#{fetch_li_status(:work_time_limits)}"}
      %a{:href => work_time_limits_path}
        %i.fa.fa-bar-chart-o
        %span Нормы часов в неделю

    %li{class: "#{fetch_li_status(:year_shedules)}"}
      %a{:href => year_shedules_path}
        %i.fa.fa-snowflake-o
        %span Годовой график

    %li{class: "#{fetch_li_status(:vacations)}"}
      %a{:href => vacations_path}
        %i.fa.fa-th-large
        %span Отпуска

    %li{class: "#{fetch_li_status(:companies)}"}
      %a{:href => companies_path}
        %i.fa.fa-font-awesome
        %span Организации
    %li{class: "#{fetch_li_status(:divisions)}"}
      %a{:href => divisions_path}
        %i.fa.fa-font-awesome
        %span Подразделения

    %li{class: "#{fetch_li_status(:calendar)}"}
      %a{:href => calendar_index_path}
        %i.fa.fa-calendar-o
        %span Календарь

    %li{class: "#{fetch_li_status(:facilities)}"}
      %a{:href => facilities_path}
        %i.fa.fa-table
        %span Объекты

    %li{class: "#{fetch_li_status(:tasks)}"}
      %a{:href => tasks_path}
        %i.fa.fa-table
        %span Наряды
    %li{class: "#{fetch_li_status(:jobs)}"}
      %a{:href => jobs_path}
        %i.fa.fa-table
        %span Виды работ

    %li{class: "#{fetch_li_status(:appliances)}"}
      %a{:href => appliances_path}
        %i.fa.fa-server
        %span Оборудование
    %li{class: "#{fetch_li_status(:inventories)}"}
      %a{:href => inventories_path}
        %i.fa.fa-server
        %span Инвентарь
    %li{class: "#{fetch_li_status(:consumables)}"}
      %a{:href => consumables_path}
        %i.fa.fa-server
        %span Расходные материалы
