%ul.dropdown-menu.dropdown-menu--responsive
  .dropdown-header Messages (12)
  %ul.Message-list.niceScroll.list-group
    %li.Message.list-group-item
      %button.Message__status.Message__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Message__avatar.Message__avatar--danger.pull-left{:href => ""}
          = image_tag "a2.jpg"
        .Message__highlight
          %span.Message__highlight-name Lubida Teresa
          %p.Message__highlight-excerpt Hello there! Can you send me a photo please?
          %p.Message__highlight-time 1 hour ago
    %li.Message.list-group-item
      %button.Message__status.Message__status--unread{:name => "button", :type => "button"}
      %a{:href => ""}
        .Message__avatar.Message__avatar--danger.pull-left{:href => ""}
          = image_tag "a1.jpg"
        .Message__highlight
          %span.Message__highlight-name Sara Souaidan
          %p.Message__highlight-excerpt Hello there!
          %p.Message__highlight-time 1 hour ago
    %li.Message.list-group-item
      %button.Message__status.Message__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Message__avatar.Message__avatar--danger.pull-left{:href => ""}
          = image_tag "a0.jpg"
        .Message__highlight
          %span.Message__highlight-name Addy Osmany
          %p.Message__highlight-excerpt Blah Blah Blah
          %p.Message__highlight-time 1 hour ago
    %li.Message.list-group-item
      %button.Message__status.Message__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Message__avatar.Message__avatar--danger.pull-left{:href => ""}
          = image_tag "a0.jpg"
        .Message__highlight
          %span.Message__highlight-name Picaso Patel
          %p.Message__highlight-excerpt Bhai, are you there?
          %p.Message__highlight-time 2 years ago
    %li.Message.list-group-item
      %button.Message__status.Message__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Message__avatar.Message__avatar--danger.pull-left{:href => ""}
          = image_tag "a0.jpg"
        .Message__highlight
          %span.Message__highlight-name Bengali Tiger
          %p.Message__highlight-excerpt Mu ha ha
          %p.Message__highlight-time 10 years ago
  .dropdown-footer
    %a{:href => ""} View more
