%ul.dropdown-menu.dropdown-menu--responsive
  .dropdown-header Notifications (12)
  %ul.Notification-list.Notification-list--small.niceScroll.list-group
    %li.Notification.list-group-item
      %button.Notification__status.Notification__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Notification__avatar.Notification__avatar--danger.pull-left{:href => ""}
          %i.Notification__avatar-icon.fa.fa-bug
        .Notification__highlight
          %p.Notification__highlight-excerpt
            %b Server Error Report
          %p.Notification__highlight-time 1 hour ago
    %li.Notification.list-group-item
      %button.Notification__status.Notification__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Notification__avatar.pull-left{:href => ""}
          = image_tag "a0.jpg"
        .Notification__highlight
          %p.Notification__highlight-excerpt
            %b Tomas Edison
            and 4 other people like your post “keep clam and watch the fizz”.
          %p.Notification__highlight-time 1 hour ago
    %li.Notification.list-group-item
      %button.Notification__status.Notification__status--unread{:name => "button", :type => "button"}
      %a{:href => ""}
        .Notification__avatar.pull-left{:href => ""}
          = image_tag "a0.jpg"
        .Notification__highlight
          %p.Notification__highlight-excerpt
            %b Luciad Extic
            can join conference.
          %p.Notification__highlight-time 1 hour ago
    %li.Notification.list-group-item
      %button.Notification__status.Notification__status--read{:name => "button", :type => "button"}
      %a{:href => ""}
        .Notification__avatar.Notification__avatar--success.pull-left{:href => ""}
          %i.Notification__avatar-icon.fa.fa-plus
        .Notification__highlight
          %p.Notification__highlight-excerpt
            %b New User Registration
          %p.Notification__highlight-time 1 hour ago
    %li.Notification.list-group-item
      %button.Notification__status.Notification__status--unread{:name => "button", :type => "button"}
      %a{:href => ""}
        .Notification__avatar.Notification__avatar--info.pull-left{:href => ""}
          %i.Notification__avatar-icon.fa.fa-plus
        .Notification__highlight
          %p.Notification__highlight-excerpt
            %b New Email
            from
            %b John Dao
          %p.Notification__highlight-time 1 hour ago
  .dropdown-footer
    %a{:href => ""} View more
