%ul.nav.navbar-nav.navbar-right


  -# %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => ""}
      %i.fa.fa-bell-o
      %span.badge 5
    / dropdown notification
    -# =render :partial => "layouts/bootkit/notification"
    / / dropdown notification
  -# %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => ""}
      %i.fa.fa-envelope-o
      %span.badge 5
    / dropdown messages
    -# =render :partial => "layouts/bootkit/messages"
    / / dropdown messages
  %li.dropdown.dropdown-usermenu
    %a.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#"}
      .user-avatar
        = image_tag "a0.jpg"
      %span.hidden-sm.hidden-xs= current_staff.email
      / <i class="fa fa-angle-down"></i>
      %span.caret.hidden-sm.hidden-xs
    %ul.dropdown-menu.dropdown-menu-usermenu.pull-right
      %li.divider
      %li
        %a{:href => destroy_staff_session_path, :method => :get}
          %i.fa.fa-sign-out
          Выйти
      %li
        %a{:href => staff_path(current_staff.id), :method => :get}
          %i.fa.fa-user
          Профиль
  %li.dropdown

  -# %li
    %a{"data-toggle" => "ui-aside-right", :href => ""}
      %i.glyphicon.glyphicon-option-vertical
