.ui-aside-right{"ui-aside-right" => ""}
  / customer start
  .aside-widget
    %h5 Online Customer
    %ul.contact-list
      %li.online
        .media
          %a.pull-left.media-thumb{:href => "#"}
            = image_tag "a0.jpg", :class => "media-object"
            %span.online
          .media-body
            %strong John Doe
            %small General Manager at TB
        / media
      %li.online
        .media
          %a.pull-left.media-thumb{:href => "#"}
            = image_tag "a1.jpg", :class => "media-object"
            %span.offline
          .media-body
            %strong Jonathan Smith
            %small Lead Designer
        / media
      %li.online
        .media
          %a.pull-left.media-thumb{:href => "#"}
            = image_tag "a2.jpg", :class => "media-object"
            %span.busy
          .media-body
            %strong Margarita Rose
            %small Human Resource Manager
        / media
      %li.online
        .media
          %a.pull-left.media-thumb{:href => "#"}
            = image_tag "a0.jpg", :class => "media-object"
            %span.away
          .media-body
            %strong Mr. Kameron De
            %small Marketing Officer
        / media
      %li.online
        .media
          %a.pull-left.media-thumb{:href => "#"}
            = image_tag "a2.jpg", :class => "media-object"
            %span.offline
          .media-body
            %strong Mr. Mosa
            %small Development Manager
        / media
  / customer end
  / stock start
  .aside-widget
    %h5 Recent Stocks
    %table.table
      %tbody
        %tr
          %td DOWJ
          %td 19,764.00
          %td
            %small.label.label-success + 0.08%
        %tr
          %td AAPL
          %td 116.90
          %td
            %small.label.label-danger - 0.29%
        %tr
          %td SBUX
          %td 50.33
          %td
            %small.label.label-warning + 0.23%
        %tr
          %td NKE
          %td 164.00
          %td
            %small.label.label-success + 0.08%
        %tr
          %td YHOO
          %td 764.00
          %td
            %small.label.label-danger - 0.91%
  / stock end
  / task start
  .aside-widget
    %h5 Task Pending
    %ul.list-unstyled
      %li
        %a{:href => "#"}
          .task-info
            Wp Development (66%)
          .progress.progress-striped
            .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", :role => "progressbar", :style => "width: 66%"}
      %li
        %a{:href => "#"}
          .task-info
            Dashboard Design (80%)
          .progress.progress-striped
            .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
      %li
        %a{:href => "#"}
          .task-info
            Marketing (40%)
          .progress.progress-striped
            .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
      %li
        %a{:href => "#"}
          .task-info
            Mobile App Development (33%)
          .progress.progress-striped
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 33%"}
      %li.text-center
        %a.btn.btn-sm.btn-info.btn-block{:href => "#"} See All Pending Tasks
  / task end
