.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: @facility, local: true) do |form|
      - if @facility.errors.any?
        #error_explanation
          %h2
            = pluralize(@facility.errors.count, "error")
            prohibited this task from being saved:
          %ul
            - @facility.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputName"} Наименование
        = form.text_field :name , :class => "form-control"
      .form-group
        %label{:for => "exampleselectFacility"}  Подразделение
        = form.select :division_id , Division.all.map{|a| [a.name , a.id]} , :class => "form-control"
      .form-group
        %label{:for => "exampleInputScopeOfWork"} Долгота
        = form.text_field :longtitude , :class => "form-control"
      .form-group
        %label{:for => "exampleInputScopeOfWork"} Широта
        = form.text_field :latitude , :class => "form-control"
      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
