.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Объекты
        %span.tools.pull-right
          = link_to 'Создать', new_facility_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Тип работы
          %tbody
          - @facilities.each do |facility|
            %tr
              %td= facility.id
              %td= facility.name
              %td
                = link_to 'Подробнее', facility, :class => "btn btn-info btn-xs"
