.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Создание наряда
        %span.tools.pull-right
          = link_to 'Назад', facilities_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', facility: @facility
