.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', facilities_path , :class => "btn btn-danger btn-xs header-button"
        %h3=@facility.name
      .panel-body
        %br
        %table.table
          %tr
            %td Подразделение
            %td=@facility.division.name
          %tr
            %td Долгота
            %td=@facility.longtitude
          %tr
            %td Широта
            %td=@facility.latitude


        %br
        = button_to 'Изменить',edit_facility_path(@facility) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @facility, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
