%p
  Привет #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    Уведомляем вас ,что ваш адрес электронной почты изменился #{@resource.unconfirmed_email}.
- else
  %p
    Уведомляем вас ,что ваш адрес электронной почты был изменен #{@resource.email}.
