%p
  Здравствуйте #{@resource.email}!
%p Кто-то просил ссылку для изменения вашего пароля. Вы можете сделать это через ссылку ниже.
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если Вы не отправляли запрос, просто проигнорируйте это письмо.
%p Ваш пароль не изменится, пока вы не откроете ссылку выше и создадите  новый.
