%p
  Здравствуйте #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток входа.
%p Нажмите на ссылку ниже, чтобы разблокировать ваш аккаунт:
%p= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token)
