.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: contract_type, local: true) do |form|
      - if contract_type.errors.any?
        #error_explanation
          %h2
            = pluralize(contract_type.errors.count, "error")
            prohibited this contract_type from being saved:
          %ul
            - contract_type.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :contract_type_name, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
