.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Типы Контрактов 
        %span.tools.pull-right
          = link_to 'Создать', new_contract_type_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @contract_types.each do |contact_type|
            %tr
              %td= contact_type.id
              %td= contact_type.name
              %td
                = link_to 'Подробнее', contact_type, :class => "btn btn-info btn-xs"
