.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Создание контракта
        %span.tools.pull-right
          = link_to 'Назад', contract_types_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', contract_type: @contract_type
