.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', contract_types_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @contract_type.name
      .panel-body
        %br
        %table.table

        %br
        = button_to 'Изменить',edit_contract_type_path(@contract_type) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @contract_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
