.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: profession, local: true) do |form|
      - if profession.errors.any?
        #error_explanation
          %h2
            = pluralize(profession.errors.count, "error")
            prohibited this profession from being saved:
          %ul
            - profession.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :profession_name, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
