.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование профессии
        %span.tools.pull-right
          = link_to 'Назад', professions_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', profession: @profession
