.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Профессии
        %span.tools.pull-right
          = link_to 'Создать', new_profession_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @professions.each do |profession|
            %tr
              %td= profession.id
              %td= profession.name
              %td
                = link_to 'Подробнее', profession, :class => "btn btn-info btn-xs"
