.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', professions_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @profession.name
      .panel-body
        %br
        %table.table

        %br
        = button_to 'Изменить',edit_profession_path(@profession) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @profession, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
