= form_with(model: task_job_link, local: true) do |form|
  - if task_job_link.errors.any?
    #error_explanation
      %h2
        = pluralize(task_job_link.errors.count, "error")
        prohibited this task_job_link from being saved:
      %ul
        - task_job_link.errors.full_messages.each do |message|
          %li= message
  .field
    = form.select :job_id, Job.all.map{|a| [a.name,a.id]}
  .field
    = form.select :task_id, Task.all.map{|a| [a.name,a.id]}
  .actions
    = form.submit
