%h1 Editing Task Job Link
= render 'form', task_job_link: @task_job_link
= link_to 'Show', @task_job_link , :class => "btn btn-success btn-xs"
|
= link_to 'Back', task_job_links_path  , :class => "btn btn-danger btn-xs"
