.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Задания-Работа Линки
        %span.tools.pull-right
          %a.refresh-box.fa.fa-repeat{:href => "javascript:;"}
          %a.collapse-box.fa.fa-chevron-down{:href => "javascript:;"}
          %a.close-box.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  ID
              %th job_id
          %tbody
            - @task_job_links.each do |task_job_link|
              %tr
                %td= task_job_link.id
                %td= task_job_link.job_id
                %td= task_job_link.task_id
                %td
                  = link_to 'Show', task_job_link , :class => "btn btn-info btn-xs"
                  = link_to 'Edit', edit_task_job_link_path(task_job_link), :class => "btn btn-success  btn-xs"
                  = link_to 'Destroy', task_job_link, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"


= link_to 'New Profession', new_task_job_link_path , :class => "btn btn-primary btn-xs"
