%p
  %strong Job:
  = @task_job_link.job_id
%p
  %strong Task:
  = @task_job_link.task_id
= link_to 'Edit', edit_task_job_link_path(@task_job_link) , :class => "btn btn-success btn-xs"
|
= link_to 'Back', task_job_links_path , :class => "btn btn-danger btn-xs"
