.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: company, local: true) do |form|
      - if company.errors.any?
        #error_explanation
          %h2
            = pluralize(company.errors.count, "error")
            prohibited this company from being saved:
          %ul
            - company.errors.full_messages.each do |message|
              %li= message  
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :company_name, :class => "form-control"
      
      %br
      = form.submit "Сохранить", :class => "btn btn-primary"


