.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование организации
        %span.tools.pull-right
          = link_to 'Назад', @company , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', company: @company
