.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Организации
        %span.tools.pull-right
          = link_to 'Создать', new_company_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @companies.each do |company|
            %tr
              %td= company.id
              %td= company.name
              %td
                = link_to 'Подробнее', company, :class => "btn btn-info btn-xs"
