.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', companies_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @company.name
      .panel-body
        %br
        %table.table
          %tr
            %td ИНН
            %td 234234234
          %tr
            %td КПП
            %td 56756756756
        %br
        =  button_to 'Изменить', edit_company_path(@company) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
        %br




  .col-sm-6
    %section.panel
      .col-lg-12
      .row
        =form_tag("/divisions/update_tree" ,method: :put)  do
          =text_field_tag "tree_data",nil, :id => "nestable_list_1_output", :style =>"display:none"
          =text_field_tag "parent",@company.id, :style =>"display:none"
          = submit_tag 'Сохранить', :id => "hide_save_tree", :style =>"display:none"
      %header.panel-heading
        %span.tools.pull-right
        = link_to 'Создать', new_division_path(:parent_id => @company.id ,:parent_type => @company.class), :class => "btn btn-primary btn-xs header-button"
        = link_to 'Сохранить',nil, :class => " btn-xs btn btn-info", :id => "save_tree_buttom"
        %h3 Подразделения

        = render :partial => 'divisions/division'
