.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: year_shedule, local: true) do |form|
      - if year_shedule.errors.any?
        #error_explanation
          %h2
            = pluralize(year_shedule.errors.count, "error")
            prohibited this year_shedule from being saved:
          %ul
            - year_shedule.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :year_shedule_name, :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Год
        = form.select :year, %w(2017 2018 2019 2020) , :class => "form-control"


      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
