.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование годового графика
        %span.tools.pull-right
          = link_to 'Назад', year_shedule_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', year_shedule: @year_shedule
