.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Годовой график
        %span.tools.pull-right
          = link_to 'Создать', new_year_shedule_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th #
              %th Название
              %th Год
              %th Дата
          %tbody
          - @year_shedules.each do |year_shedule|
            %tr
              %td= year_shedule.id
              %td= year_shedule.name
              %td= year_shedule.year
              %td= year_shedule.data
              %td
                = link_to 'Подробнее', year_shedule, :class => "btn btn-info btn-xs"
