.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', year_shedules_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @year_shedule.name
      .panel-body
        %br
        %table.table
          %tr
            %td Год
            %td=@year_shedule.year

        %br
        = button_to 'Изменить',edit_year_shedule_path(@year_shedule) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @year_shedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
