.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: worker, local: true) do |form|
      - if worker.errors.any?
        #error_explanation
          %h2
            = pluralize(worker.errors.count, "error")
            prohibited this worker from being saved:
          %ul
            - worker.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Имя
        = form.text_field :name, id: :worker_name , :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Фамилия
        = form.text_field :surname, id: :worker_surname, :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Отчество
        = form.text_field :middle_name, id: :worker_middle_name , :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Персональный номер
        = form.text_field :personal_number, id: :worker_personal_number , :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Тип контракта
        = form.select :contract_type_id, ContractType.all.map{|a| [a.name,a.id]}, :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Должность
        = form.select :profession_id, Profession.all.map{|a| [a.name,a.id]}, :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Дата рождения
        = form.text_field :birthday , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"
      .form-group
        %label{:for => "exampleInputEmail1"} Дата начала работы
        = form.text_field :employed_at , :placeholder => "dd/mm/yyyy", :class => "input form-control js-datepicker"
      .form-group
        %label{:for => "exampleInputEmail1"} Телефон
        = form.text_field :phone, id: :worker_phone, :class => "form-control"
      .form-group
        %label{:for => "exampleInputEmail1"} Пароль
        = form.text_field :encrypted_password, id: :worker_encrypted_password
      .form-group
        %label{:for => "exampleInputEmail1"} Электронная почта
        = form.text_field :email, id: :worker_email
      .form-group
        %label{:for => "exampleInputEmail1"} Норма часов в неделю
        = form.select :work_time_limit_id, WorkTimeLimit.all.map{|a| [a.hours,a.id]}
      .form-group
        %label{:for => "exampleInputEmail1"} Учет рабочего времени
        = form.select :time_tracking , Worker::TIME_TRACK.map{|a| [a]}
      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
