.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование сотрудника
        %span.tools.pull-right
          = link_to 'Назад', workers_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', worker: @worker
