.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Сотрудники
        %span.tools.pull-right
          = link_to 'Создать', new_worker_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th #
              %th Имя
              %th Фамилия
              %th Отчество
          %tbody
          - @workers.each do |worker|
            %tr
              %td= worker.id
              %td= worker.name
              %td= worker.surname
              %td= worker.middle_name

              %td
                = link_to 'Подробнее', worker, :class => "btn btn-info btn-xs"
