.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', workers_path , :class => "btn btn-danger btn-xs header-button"
        %h3= "#{@worker.name} #{@worker.surname} #{@worker.middle_name}"
      .panel-body
        %br
        %table.table
          %tr
            %td Персональный QR Code :
            %td= @worker.qr_code
          %tr
            %td Персональный номер :
            %td= @worker.personal_number
          %tr
            %td Тип контракта :
            %td= @worker.contract_type_id
          %tr
            %td Должность :
            %td= @worker.profession_id
          %tr
            %td Дата рождения :
            %td= @worker.try(:birthday).try(:strftime, "%d/%m/%Y")
          %tr
            %td Принят на работу :
            %td= @worker.try(:employed_at).try(:strftime, "%d/%m/%Y")
          %tr
            %td Уволен с работы :
            %td= @worker.try(:dismissed_at).try(:strftime, "%d/%m/%Y")
          %tr
            %td Телефон :
            %td= @worker.phone
          %tr
            %td Пароль :
            %td= @worker.encrypted_password
          %tr
            %td Электронная почта :
            %td= @worker.email
          %tr
            %td Норма часов в неделю :
            %td= @worker.work_time_limit_id
          %tr
            %td Учет рабочего времени :
            %td= @worker.time_tracking
          %tr
            %td QR-Code
            %td.qr_code= raw @qr_code.as_html

        %br
        = button_to 'Изменить',edit_worker_path(@worker) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @worker, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
