.row
  .col-md-12
    .panel.short-states
      .panel-title
        %h4
          %span.label.label-info.pull-right Добро пожаловать
      .panel-body
        .container2{:align => "center", :style => "min-height:500px;padding-top:150px"}
          Главная страница
          
