.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование профессии
        %span.tools.pull-right
          = link_to 'Назад', staff_path(@staff.id) , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        .row
          .col-md-8.col-md-offset-2
            %form{:role => "form"}
            = form_for @staff do |form|
              .form-group
                %label{:for => "exampleInputEmail1"} Фотография
                = form.file_field :file, id: :staff_file
              .form-group
                %label{:for => "exampleInputEmail1"} Имя
                = form.text_field :name, id: :staff_name , :class => "form-control"
              .form-group
                %label{:for => "exampleInputEmail1"} Фамилия
                = form.text_field :surname, id: :staff_surname, :class => "form-control"
              .form-group
                %label{:for => "exampleInputEmail1"} Отчество
                = form.text_field :patronymic, id: :staff_patronymic , :class => "form-control"
              .form-group
                %label{:for => "exampleInputEmail1"} Должность
                = form.text_field :position, id: :staff_position, :class => "form-control"
              .form-group
                %label{:for => "exampleInputEmail1"} Телефон
                = form.text_field :phone_number, id: :staff_phone_number, :class => "form-control"
              .form-group
                %label{:for => "exampleInputEmail1"} Электронная почта
                = form.text_field :email, id: :staff_email
              %br
              = form.submit "Сохранить", :class => "btn btn-primary"
