
.row
  .col-md-12
    .panel.profile-wrap
      %header.panel-heading.clearfix
        %h3.profile-title.pull-left= "#{@staff.surname} #{@staff.name} #{@staff.patronymic}"
        .pull-right
          %a.btn.btn-sm.btn-info{:href => edit_staff_path}
            %i.fa.fa-pencil
      .panel-body.row
        .col-md-4
          .profile-thumb
            %img{:alt => "", :src => @staff.file_url}/
          .profile-info
            %ul.list-unstyled
              %li
                %i.fa.fa-mortar-board
                .p-i-list
                  %span.text-muted Должность
                  =@staff.position
          .profile-info
            %h5 Контактная информация
            %ul.list-unstyled
              %li
                %i.fa.fa-headphones
                .p-i-list
                  %span.text-muted Мобильный телефон
                  =@staff.phone_number
              %li
                %i.fa.fa-envelope-o
                .p-i-list
                  %span.text-muted E-mail
                  =@staff.email
