.row
  .col-md-8.col-md-offset-2
    %form{:role => "form"}
    = form_with(model: job_unit, local: true) do |form|
      - if job_unit.errors.any?
        #error_explanation
          %h2
            = pluralize(job_unit.errors.count, "error")
            prohibited this job_unit from being saved:
          %ul
            - job_unit.errors.full_messages.each do |message|
              %li= message
      .form-group
        %label{:for => "exampleInputEmail1"} Название
        = form.text_field :name, id: :job_unit_name, :class => "form-control"

      %br
      = form.submit "Сохранить", :class => "btn btn-primary"
