.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование единицы времени
        %span.tools.pull-right
          = link_to 'Назад', job_units_path , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', job_unit: @job_unit
