.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Еденицы времени работы
        %span.tools.pull-right
          = link_to 'Создать', new_job_unit_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @job_units.each do |job_unit|
            %tr
              %td= job_unit.id
              %td= job_unit.name
              %td
                = link_to 'Подробнее', job_unit, :class => "btn btn-info btn-xs"
