.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', job_units_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @job_unit.name
      .panel-body
        %br
        %table.table

        %br
        = button_to 'Изменить',edit_job_unit_path(@job_unit) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @job_unit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
