!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    %title
    / inject:css
    = stylesheet_link_tag :'bootkit/bootkit'
    - if @additional_css
      - @additional_css.each do |a|
        = stylesheet_link_tag a
    = javascript_include_tag :'bootkit/modernizr-custom'
  %body
    .sign-in-wrapper
      .sign-container
        .text-center
          %h2.logo
            %img{:alt => "", :src => "imgs/logo-dark.png", :width => "130px"}
          %h2 Регистрация
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            .field
              = f.label :password , "Пароль"
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} символов минимум )
              %br/
              = f.password_field :password, autocomplete: "off"
            .field
              = f.label :password_confirmation , "Подтвердите пароль"
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .actions
              = f.submit "Зарегистрироваться" , :class => "btn btn-primary btn-block"
          = render "staffs/shared/links"
          / inject:js
          %script{:src => "bower_components/jquery/dist/jquery.min.js"}
          %script{:src => "bower_components/bootstrap/dist/js/bootstrap.min.js"}
          %script{:src => "bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"}
          %script{:src => "bower_components/autosize/dist/autosize.min.js"}
          / endinject
          / Common Script
          %script{:src => "dist/js/main.js"}
