.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Редактирование расходных материалов
        %span.tools.pull-right
          = link_to 'Назад', @consumable , :class => "btn btn-danger btn-xs header-button"
      .panel-body
        = render 'form', consumable: @consumable
