.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Расходные материалы
        %span.tools.pull-right
          = link_to 'Создать', new_consumable_path, :class => "btn btn-primary btn-xs header-button"
      .panel-body
        %table.table.table-hover.general-table
          %thead
            %tr
              %th  #
              %th Название
          %tbody
          - @consumables.each do |consumable|
            %tr
              %td= consumable.id
              %td= consumable.name
              %td
                = link_to 'Подробнее', consumable, :class => "btn btn-info btn-xs"
