.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        %span.tools.pull-right
          = link_to 'Назад', consumables_path , :class => "btn btn-danger btn-xs header-button"
        %h3= @consumable.name
      .panel-body
        %br
        %table.table

        %br
        =  button_to 'Изменить', edit_consumable_path(@consumable) , method: :get, :class => "btn btn-success btn-block"

        = button_to 'Удалить', @consumable, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block"
