!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    / inject:css
    = stylesheet_link_tag :'bootkit/bootkit'
    - if @additional_css
      - @additional_css.each do |a|
        = stylesheet_link_tag a
    = javascript_include_tag :'bootkit/modernizr-custom'
  %body
    #ui.ui
      / header start
      = render :partial => "layouts/bootkit/head_menu"
      / header end
      / sidebar start
      = render :partial => "layouts/bootkit/main_menu"
      / sidebar end
      / main content start
      #content.ui-content
        .ui-content-body
          .ui-container
            - if notice
              .alert.alert-info.alert-dismissible
                %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                = notice
            = yield
          / right side widget start
          -# =render :partial => "layouts/bootkit/right_side"
          / right side widget end
      / main content end
      / footer start
      #footer.ui-footer
        2017 © ProTime.
      / footer end
    / inject:js
    = javascript_include_tag :'bootkit/bootkit'
    - if @additional_js
      - @additional_js.each do |a|
        = javascript_include_tag a
