%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />
    %title Login
    = stylesheet_link_tag :'bootkit/bootkit'
    - if @additional_css
      - @additional_css.each do |a|
        = stylesheet_link_tag a
    = javascript_include_tag :'bootkit/modernizr-custom'
  %body
    .sign-in-wrapper
      .sign-container
        .text-center
          = yield
